body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    /* padding: 20px; */
}

#header{
    display: flex;
    flex-direction: row;
    height: 30px;
    justify-content: right;
    align-items: center;
    padding-inline: 20px;
    margin-bottom: 50px;
    position: relative;
    text-align: center;
    background-color:cadetblue;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
}
.time{
    align-items: right;
}

#container {
    max-width: 500px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#qr-reader {
    margin: 0 auto 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
}

#student-info {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#actions button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

#actions button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
    visibility: hidden;
}
